Repository rjsf-team/react-jsonschema-form, pull requests merged in 2022-04, with the labels that each got.

#2801 Issue management
  .github/workflows/issue-triage-automation.yml
  .github/workflows/issue-triage-removal-automation.yml
Labels: enhancement, feature

#2782 Add "who uses" section to docs
  docs/index.md
Labels: awaiting review, docs

#2802 Issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  ISSUE_TEMPLATE.md
Labels: enhancement, feature

#2797 fix(@rjsf/core): Support ui:orderable and ui:removable
  CHANGELOG.md
  packages/core/src/components/fields/ArrayField.js
  packages/core/test/ArrayField_test.js
Labels: awaiting review, core
